<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="logfile"                value="C:\\ProgramData\\WuFFolderWatcher\\logs\\logfile.log"/>
    <add key="logErrorsOnly"                value="True"/>
    <add key="WatchedFoldersSettings" value="C:\\ProgramData\\WuFFolderWatcher\\WatchedFoldersSettings.xml"/>
  </appSettings>
</configuration>